@model IEnumerable<EstoqueVendasSQLITE.ViewModels.RelatorioViewModel>
@{
    var fornecedorData = (IEnumerable<EstoqueVendasSQLITE.ViewModels.FornecedorViewModel>)ViewBag.FornecedorData;
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Relatório de vendas de @ViewBag.DataInicial.ToString("dd/MM/yyyy") até @ViewBag.DataFinal.ToString("dd/MM/yyyy")</h1>
        <div>
            <button class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#relatorioModal">Novo Relatório</button>
            <a class="btn btn-secondary mx-2" asp-controller="SaidaProduto" asp-action="Index">Voltar</a>
        </div>
    </div>

    <!-- Modal para selecionar as datas -->
    <div class="modal fade" id="relatorioModal" tabindex="-1" aria-labelledby="relatorioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="relatorioModalLabel">Gerar Relatório</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="relatorioForm" asp-controller="SaidaProduto" asp-action="Relatorio" method="post">
                        <div class="mb-3">
                            <label for="dataInicial" class="form-label">Data Inicial</label>
                            <input type="date" class="form-control" id="dataInicial" name="dataInicial" required>
                        </div>
                        <div class="mb-3">
                            <label for="dataFinal" class="form-label">Data Final</label>
                            <input type="date" class="form-control" id="dataFinal" name="dataFinal" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Gerar Relatório</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- Tabela de vendas por produto -->
    <h2>Vendas por Produto</h2>
    <table class="table table-light table-hover mt-5">
        <thead class="table table-dark">
            <tr>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade Vendida</th>
                <th scope="col">Soma das Vendas</th>
                <th scope="col">Lucro</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProdutoNome</td>
                    <td>@item.QuantidadeVendida</td>
                    <td>R$@string.Format("{0:F2}", item.SomaVendas)</td>
                    <td>R$@string.Format("{0:F2}", item.LucroTotal)</td>
                </tr>
            }
            <tr>
                <td><strong>Total do Período:</strong></td>
                <td><strong>@ViewBag.QuantidadeTotalVendida</strong></td>
                <td><strong>R$@string.Format("{0:F2}", ViewBag.ValorTotalVendas)</strong></td>
                <td><strong>R$@string.Format("{0:F2}", ViewBag.LucroTotalPeriodo)</strong></td>
            </tr>
            <tr><td colspan="4"></td></tr>
            <tr>
                <td><strong>Total de ativações no período:</strong></td>
                <td colspan="3"><strong>@ViewBag.TotalAtivada</strong></td>
            </tr>
        </tbody>
    </table>
    <br />
    <!-- Tabela de vendas por fornecedor -->
    <h2>Vendas por Fornecedor</h2>
    <table class="table table-light table-hover mt-5">
        <thead class="table table-dark">
            <tr>
                <th scope="col">Fornecedor</th>
                <th scope="col">Quantidade Vendida</th>
                <th scope="col">Soma das Vendas</th>
                <th scope="col">Lucro Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in fornecedorData)
            {
                <tr>
                    <td>@item.FornecedorNome</td>
                    <td>@item.QuantidadeVendida</td>
                    <td>R$@string.Format("{0:F2}",item.SomaVendas)</td>
                    <td>R$@string.Format("{0:F2}",item.LucroTotal)</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="mt-3">
        <button class="btn btn-secondary" onclick="window.print()">Imprimir</button>
    </div>

</div>
